@import url('https://fonts.googleapis.com/css?family=Monda');

.result {
font-family: 'Monda', sans-serif;
}
.foodBar {
  border-radius: 3px;
}

.mealDrop {
  height:32px;
  margin-left: 10px;
  margin-bottom: 2px;
}

.searchFood {
  height:34px;
  margin-left: 10px;
}

.days-wrapper, .foods-search, .foods-list {
    margin-bottom: 25px;
}
