#loginBox {
  text-align: center;
  opacity: 0.9;
  border: 5px solid white;
  padding: 40px;
}

#loginImg {
  background-image: url("http://cdn-maf2.heartyhosting.com/sites/muscleandfitness.com/files/styles/full_node_image_1090x614/public/arnold-diet.jpg?itok=aLMxcZXF&timestamp=1370277176");
  background-size: cover;
  background-position: right;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
    top: 20;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}
